body{
  background-image: url("./Captura_de_Tela_.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
/*.App{
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0px;
  right: 15px;
  width: 50%;
  height: 60%;
}*/
.App{
  position: absolute;
  width: 100%;
  height: 100%;
}

.myCard{
  position: fixed;
  bottom: 0;
  right: 0;
}

.card{
  display: flex;
  position: fixed;
  bottom: 37px;
  right: 10px;
  justify-content: center;
  align-items: center;
  background-color: #D0EBE6;
  width: 42%;
  height: 60%;
  border-radius: 4px;
  /*transition: width 2s;*/
}

.card2{
  width: 100%;
}

#card-content{
  display: flex;
  justify-content: space-between;
  background-color: #1e6c4c;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card-chat{width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.smart-guide-header{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 50px;
}

.card-main{
  display:flex;
  flex-direction: row;
}

.card-option{
  background-color: #68A098;
  width: 40%;
  padding-bottom: 180px;
  border-radius: 15px;
}

.card-option-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.card-option-button{
  background-color: #386659;
  padding-bottom: 5px;
  border-radius: 15px;
  color: #E8fff5;
  width: 80%;
}

.card-info-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.card-content-id{
  text-align: justify;
}

.card-content-h2{
   text-align: justify;
}

.card-chat{
  background-color: #BCDDE1;
  border-radius: 15px;
  border-top: 1px solid var(--neutral-light-1, #CCC);
  border-right: 1px solid var(--neutral-light-1, #CCC);
  border-bottom: 4px solid var(--neutral-light-1, #CCC);
  border-left: 1px solid var(--neutral-light-1, #CCC);
  margin-right: 10px;
  width: 65%;
  padding: 5px 5px 10px 5px;
}

.card-chat-content{
  display: flex;
  flex-direction: column;
}

.card-chat-input{
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 15px;
  background-color: #EBF0FF;
  color: #000;
  border-top: 1px solid var(--neutral-light-1, #CCC);
  border-right: 1px solid var(--neutral-light-1, #CCC);
  border-bottom: 4px solid var(--neutral-light-1, #CCC);
  border-left: 1px solid var(--neutral-light-1, #CCC);
}


.card-chat-img-output{
  display: flex;
  flex-direction: row;
}

.card-chat-icon{
  margin-top: 10px;
}

.card-chat-textarea{
  background-color: #EBF0FF;
  border: none;
  outline: none;
  resize: none;
}

.card-chat-output{
  width: 70%;
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 20px;
  margin-left: 10px;
  color: green;
  background-color: #D0EBE6;
  border-top: 1px solid var(--neutral-light-1, #CCC);
  border-right: 1px solid var(--neutral-light-1, #CCC);
  border-bottom: 4px solid var(--neutral-light-1, #CCC);
  border-left: 1px solid var(--neutral-light-1, #CCC);
}

.answer-section{
  overflow-y: auto;
  scroll-behavior: smooth;
}

.card-doubt{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-doubt-title{
  margin-left: 15px;
}

.card-doubt-links{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 25px;
}

.custom-li{
  font-size: 10px;
  color: #1e6c4c;
}


